<!DOCTYPE html>
<html>

<head>
  <title>api weather app</title>
  <link href="/public/stylesheets/style.css" rel="stylesheet" />
</head>

<body>

  <div class="border">
  </div>

  <section id="main" class="background-weather">
    <div class="contenido" id="contenido">
    </div>
  </section>

  <section id="main-forecast" class="background-weather">

    <div class="contenido" id="contenido1">
    </div>

  </section>


  <section id="form">

    <div id="container-buttons">

      <select id="city-selector" name="select-city" size="5">

        <option>Temperley</option>
        <option>Guernica</option>
        <option>Barracas</option>
        <option>Londres</option>
        <option>Dublin</option>

      </select>

      <br>
      <button id="getForecast1" class="button" onclick="searchWeather()">Consultar</button>

    </div>

  </section>

  <section class="footer">

    <p>Test APIs</p>
    <a href="/current/">Current </a>
    <a href="/forecast">Forecast </a>
    <a href="/location">Location </a>

  </section>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/public/javascripts/weatherIndex.js?n=1"></script>

  <div class="border">
  </div>

</body>
</html>